$light-shade: #f1f3f1;
$light-accent: #9c8b90;
$lighter-accent: #ece9eb;
$main-color: #c3906a;
$dark-accent: #69738d;
$dark-shade: #40273c;

$primary: $main-color;
$secondary: $dark-accent;
$info: $dark-shade;
$success: #70a658;
$warning: #ed9620;
$danger: #f44336;
