@import './_variables.scss';

.page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  justify-content: space-between;
}

.flex-space-between-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
}

.flex-start-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  justify-content: flex-start;
}

.flex-end-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  justify-content: flex-end;
}

.form-container {
  padding-left: 20px;
  padding-right: 20px;
}

.page-background {
  background-color: $light-shade;
  background-size: cover;
  height: 100vh;
}
.page-card {
  background-color: $light-shade;
  height: 80%;
  width: 80%;
}

.row {
  flex-wrap: nowrap;
}
.col-xl-3,
.col-lg-3,
.col-md-3,
.col-sm-3,
.col-3 {
  padding-left: 0px;
  padding-right: 0px;
}

.page-title {
  color: $primary;
  font-family: 'Courier New', 'Monaco', monospace;
  font-size: 50px;
  margin: 50px;
  margin-top: 60px;
  text-align: center;
}

.page-subtitle {
  color: $primary;
  font-family: 'Courier New', 'Monaco', monospace;
  font-size: 60px;
}

.page-text {
  color: $dark-shade;
  font-size: 20px;
}

.emphasized-list-text {
  color: $secondary;
  font-weight: bold;
}

.form-header-text {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.form-subheader-text {
  color: $secondary;
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}

.text-centered {
  text-align: center;
}

.sticky-item {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.padding-100 {
  padding-top: 100px;
}

.generic-button {
  font-family: 'Courier New', 'Monaco', monospace;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.nav-button-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-bottom: 0px;
}

.button-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vertical-menu-button {
  font-family: 'Courier New', 'Monaco', monospace;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  width: 300px;
}

.file-picker-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 20px;
  vertical-align: center;
}

.file-button-container {
  display: flex;
  justify-content: space-betweeen;
}

.narrow-button {
  font-size: 14px;
  margin-bottom: 0px;
  margin-right: 20px;
  margin-top: 0px;
}

.form-container {
  max-width: 100%;
}

.form-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 30px;
  margin-top: 20px;
}
.form-button {
  font-family: 'Courier New', 'Monaco', monospace;
  //font-size: 18px;
}

.file-name {
  color: $secondary;
  font-weight: bold;
  text-align: right;
}

.input-width-limit {
  margin-right: 0px;
  max-width: 300px;
}
.arg-input-width-limit {
  margin-right: 0px;
  max-width: 95%;
}

.label-and-icon-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.mouse-pointer {
  cursor: pointer;
}

.navbar {
  background: $dark-shade;
}

.navbar-brand {
  font-family: 'Courier New', 'Monaco', monospace;
  font-size: 60px;
}
