@import './_variables.scss';

.sidebar-col {
  min-width: 260px;
}

.sidebar {
  border-right-color: rgb(236, 236, 236);
  border-right-style: solid;
  border-right-width: 1px;
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  overflow-y: auto;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
}

.result-header {
  background-color: $dark-shade;
  color: white;
}

.result-header-text {
  font-family: 'Courier New', 'Monaco', monospace;
  font-size: 60px;
}

.accordion-result-label {
  overflow-wrap: break-word;
  margin-bottom: 0px;
  max-width: 190px;
}

.full-height-scroll {
  overflow-y: auto;
  height: 100%;
}
